@charset "UTF-8";

:root {
    /*===================== COLOR ======================*/

    /*=====Reader=====*/
    --reader:               #333;
    --readercolorlink:      #FF6428;
    --readershadow:         #888;
    --readershadowdark:     #292929;
    /*=====Menu=====*/
    --dropdown:             #E8721A;
    --dropdownbutton:       #E8731A;
    --dropdownbuttonshadow: #5C2E0A;
    /*=====Body=====*/
    --body:                 #F5F5F5;
    --bodydark:             #616161;
    --bodycolordark:        #e0e0e0;
    /*=====Main=====*/
    --main:                 #fff;
    --maincolor:            #333;
    --mainshadow:           #b3b3b3;
    --maincolorlink:        #00B395;
    --maincolorlinkhover:   #25f1cf;
    --maindark:             #424242;
    --mainshadowdark:       #414141;
    /*=====Tags=====*/
    --tags:                 #e0e0e0;
    --tagsshadow:           #b3b3b3;
    --tagsdark:             #353535;
    --tagsshadowdark:       #292929;
    /*=====Reader=====*/
    --imagemshadow:         #757575;

}

/*====================== HEADER ======================*/
header {
    background-color: var(--reader);
    max-width: 35.7x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3125em;
    margin-bottom: 1.25em;
    border-radius: 0.625em;
    box-shadow: 0.4375em 0.4375em 0.9375em var(--readershadow);
}
.dark-mode header{
    box-shadow: 0.3125em 0.3125em 0.9375em var(--readershadowdark);
}

header img {
    margin-left: 0.3125em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: var(--readercolorlink);
    text-decoration: none;
    margin-left: 0.9375em;
    font-size: 1.25em;
    font-weight: bold;
}

nav ul li:hover{
    transform: scale(1.05);
}
nav img{
    margin-left: 0.9375em;
}

/*========== Menu ==========*/
.dropdown {
    position: relative;
}

.dropdown-content {
    padding: 0.75em;
    display: none;
    position: absolute;
    background-color: var(--dropdown);
    min-width: 1.10em;
    box-shadow: 0.625em 0.625em 1.25em 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Alterado para a direita */
    text-align: right;
    border-radius: 10px;
}

.dropdown-content button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75em 1em;
    background-color: var(--dropdownbutton);
    border: none;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--dropdownbuttonshadow);
}

.dropdown-content button:hover{
    transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.button-text {
    margin-left: 5px;
    white-space: nowrap;
}

body.dark-mode .button-text {
    color: #ffffff; /* Cor do texto no modo escuro */
}

body:not(.dark-mode) .button-text {
    color: #000000; /* Cor do texto no modo claro */
}  

/*====================== BODY ======================*/
body {
    background-color: var(--body);
    font-family: "Roboto", sans-serif;
}
body.dark-mode {
    background-color: var(--bodydark);
    color: var(--bodycolordark);
}

main {
    background-color: var(--main);
    padding: 1.875em;
    margin: auto;
    max-width: 58em;
    min-width: 17.5em;
    border-radius: 0.625em;
    box-shadow: 0 0 1.5625em var(--mainshadow);
    font-size: 1.125em;
    color: var(--maincolor);
    text-align: justify;
}

.dark-mode main{
    background-color: var(--maindark);
    box-shadow: 0.3125em 0.3125em 0.9375em var(--mainshadowdark);
}

main a {
    color: var(--maincolorlink);
    text-decoration: none;
}

main a:hover{
    color: var(--maincolorlinkhover);
    text-decoration: underline;
}

h2 {
    font-family: 'manrope', sans-serif;
    font-weight: 1.8em;
    font-size: 1.6em;
    line-height: 1.2em;
}

h3 {
    font-size: 1.2em;
}

abbr{
    color: #1a1a1a;
    text-decoration: none;
}
.dark-mode abbr{
    color: white;
    text-decoration: none;
}

.tags {
  background: var(--tags);
  padding: 0.3125em;
  border-radius: 0.625em;
  box-shadow: 0.3125em 0.3125em 0.9375em var(--tagsshadow);
}

.dark-mode .dark-mode-tags {
  background: var(--tagsdark); /* Cor de fundo no modo escuro */
  border-radius: 10px;
  box-shadow: 0.3125em 0.3125em 0.9375em var(--tagsshadowdark);
}

/*========== Up Button ==========*/
#backToTopBtn {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    width: 3.125em;
    height: 3.125em;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
#backToTopBtn.show {
    opacity: 1;
}  

#backToTopBtn :hover{
    transform: scale(1.2);
}
  
/*=========== Imagens ===========*/
.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

.imagem {
    border-style: none;
    border-radius: 0.625em;
    max-width: 100%;
    margin-bottom: 0.3125em;
    box-shadow: 0.3125em 0.3125em 0.9375em #757575;
}

.dark-mode .imagem{
    box-shadow: none;
}

.logo{
    max-width: 100%;
    min-width: 7.8125em;
    margin-right: 0.625em;
    margin-left: 0.9375em;
}

/*=========== Mobile Converções ===========*/

/*========== Link Header ==========*/
@media (max-width: 37.5em) {
    nav ul li a {
      font-size: 1em;
    }
}
/*========== Main ==========*/
@media (max-width: 37.5em) {
    main {
      font-size: 1em;
      max-width: 35.7em;
    }
}
/*========== H2 ==========*/
@media (max-width: 37.5em) {
    h2 {
        font-size: 1.4em; 
    }

}
/*========== H3 ==========*/
@media (max-width: 37.5em) {
    h3 {
        font-size: 1.1em; 
    }

}
/*========== Tags ==========*/
@media (max-width: 37em) {
    .tags{
      font-size: 0.6em;
    }
}
/*========== Menu ==========*/
/*========== Menu ==========*/
/*========== Menu ==========*/
